appdirs
argon2-cffi
async-generator
attrs
backcall
black
bleach
cffi
click
cycler
decorator
defusedxml
entrypoints
Flask
Flask-Cors
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
mistune
mpmath
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
nose
notebook
numpy
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
scipy
Send2Trash
six
sympy
terminado
testpath
toml
tornado
traitlets
typed-ast
typing-extensions
wcwidth
webencodings
Werkzeug
widgetsnbextension
gunicorn
