.description {
  width: 80%;
  text-align: center;
}

.function {
  width: 70%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.functionDetails {
  width: 70%;
  margin-bottom: 20px;
}

.inputWrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .inputWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.submit {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  transition: 0.2s;
}

.submit:hover {
  font-size: 35px;
  cursor: pointer;
}
